<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BultermPr1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TermListServlet</display-name>
    <servlet-name>TermListServlet</servlet-name>
    <servlet-class>com.improve1.bulterm.servlets.TermListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermListServlet</servlet-name>
    <url-pattern>/servlet/TermListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TermItemServlet</display-name>
    <servlet-name>TermItemServlet</servlet-name>
    <servlet-class>com.improve1.bulterm.servlets.TermItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermItemServlet</servlet-name>
    <url-pattern>/servlet/TermItemServlet</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
    <description></description>
    <display-name>TermListServlet</display-name>
    <servlet-name>TermListServlet</servlet-name>
    <servlet-class>com.improve1.bulterm.servlets.TermListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermListServlet</servlet-name>
    <url-pattern>/servlet/TermListServlet</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description></description>
    <display-name>TermItemEditServlet</display-name>
    <servlet-name>TermItemEditServlet</servlet-name>
    <servlet-class>com.improve1.bulterm.servlets.TermItemEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermItemEditServlet</servlet-name>
    <url-pattern>/servlet/TermItemEditServlet</url-pattern>
  </servlet-mapping>-->
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.improve1.bulterm.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StandardListServlet</display-name>
    <servlet-name>StandardListServlet</servlet-name>
    <servlet-class>com.improve1.bulterm.servlets.StandardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandardListServlet</servlet-name>
    <url-pattern>/servlet/StandardListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StandardItemServlet</display-name>
    <servlet-name>StandardItemServlet</servlet-name>
    <servlet-class>com.improve1.bulterm.servlets.StandardItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandardItemServlet</servlet-name>
    <url-pattern>/servlet/StandardItemServlet</url-pattern>
  </servlet-mapping>
</web-app>